<p>S_ID: {{ session_id }}</p>
<div class="row border border-dark">
    <div class="col-1">name</div>
    <div class="col-1">category</div>
    <div class="col-1">type</div>
    <div class="col-1">color</div>
    <div class="col-1">size</div>
    <div class="col-3">about</div>
    <div class="col-1">price</div>
    <div class="col-1">quantity</div>
    <div class="col-2">action</div>
</div>
    {% for product in cart %}
    <div class="row cart">
        <div class="col-1">{{ product.name }}</div>
        <div class="col-1">{{ product.category }}</div>
        <div class="col-1">{{ product.type }}</div>
        <div class="col-1">{{ product.color }}</div>
        <div class="col-1">{{ product.size }}</div>
        <div class="col-3">{{ product.about }}</div>
        <div class="col-1">{{ product.price }}</div>
        <div class="col-1">{{ product.quantity }}</div>
        <button data-id="{{ product.id }}" class="btn btn-dark delete">Delete</button>
    </div>
    {% endfor %}
<a href="/orders/" class="btn btn-dark mt-2">Proceed to checkout</a>

<script>
    $(document).ready(function() {
        $(".delete").on('click', function(){
            const id = $(this).attr('data-id');
            $.ajax({
                url: "/cart/deletecart/",
                type: "POST",
                dataType: "json",
                data: {
                    id: id
                },
                error: function() {alert('error');},
                success: function(response) {
                    $(".count").html(response['count']);
                    const id = response['id'];
                    $(".delete").filter(function(){return $(this).data("id")   == id}).parent().remove();
                }
            })
        })
    })
</script>